{% extends 'base.html' %}

{% block content %}
    <style>
        table {
            border-collapse: collapse;
            width: 70%;
            text-align: left;
        } tr {
            border-bottom: 1px solid #ddd;
        } p {
        line-height: 30%;
        } 
    </style>

    
    <h1 style="font-family:Poppins;color:#04ac6c">StockFlow Page</h1>

    <p style="font-family:Poppins">{{name}}</p>
    <p style="font-family:Poppins">{{class}}</p>
    
        
    <table> 
        <tr>
            <th style="font-family:Poppins">Name</th>
            <th style="font-family:Poppins">Amount</th>
             <th style="font-family:Poppins">Description</th>
            <th style="font-family:Poppins">Date Added</th>
        </tr>

        {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}
        
        {% for item in items %}
            <tr>
                <td style="font-family:Poppins">{{item.name}}</td>
                <td style="font-family:Poppins">
                    <div style="display: inline-block;">
                        {{item.amount}}
                    </div>
                    <div style="display: inline-block;">
                        <form method="POST" action="{% url 'main:decrement_quantity' item.id %}">
                            {% csrf_token %}
                            <button type="submit" style="font-size:10px;font-family:Poppins" >-</button>
                        </form>
                    </div>
                    <div style="display: inline-block;">
                        <form method="POST" action="{% url 'main:increment_quantity' item.id %}">
                            {% csrf_token %}
                            <button type="submit"style="font-size:10px;font-family:Poppins">+</button>
                        </form>
                    </div> 
                </td>

                <td style="font-family:Poppins">{{item.description}}</td>
                <td style="font-family:Poppins">{{item.date_added}}</td>
        
                <td style="column-width: 1;">
                <form method="POST" action="{% url 'main:delete_item' item.id %}">
                    {% csrf_token %}
                    <button type="submit" style="font-family:Poppins">Delete</button>
                </form>
                </td>
            
            </tr>
        {% endfor %}
    </table>
    <br />
    
    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <a href="{% url 'main:add_product' %}">
        <button>
            Add New Item
        </button>
    </a>
    
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
  




{% endblock content %}
